# Python

__pycache__/
.mypy_cache/
.ipynb_checkpoints
*-checkpoint.ipynb/

# Leaderboard

!leaderboard/**/*.html
leaderboard/.config.json
leaderboard/instance/database.db
leaderboard/package.json
leaderboard/node_modules/

# TeX

tex/*/*.aux
tex/*/*.fdb_latexmk
tex/*/*.fls
tex/*/*.log
tex/*/*.out
tex/*/*.pdf
tex/*/*.toc
tex/pdfs.zip
_minted-*/
tex/hands_on_wireless_simulation/modulate.py

# FPGA

fpga/LimeSDR-Mini_bitstreams/*.map
fpga/LimeSDR-Mini_bitstreams/*.pof
fpga/LimeSDR-Mini_bitstreams/*.sof
fpga/LimeSDR-Mini_bitstreams/*.rpd

# MCU

mcu/Debug/
mcu/Release/
mcu/.settings/
mcu/*.launch

# Telecom

telecom/hands_on_simulation/test.csv
telecom/hands_on_measurements/gr-fsk/build/
telecom/hands_on_measurements/gr-fsk/apps/*.py
