repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-ast
  - id: check-case-conflict
  - id: check-json
  - id: check-toml
  - id: check-yaml
  - id: end-of-file-fixer
  - id: pretty-format-json
    exclude: .+\.ipynb$
  - id: requirements-txt-fixer
  - id: trailing-whitespace
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.12
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format
- repo: https://github.com/jonasbb/pre-commit-latex-hooks
  rev: v1.4.4
  hooks:
  - id: american-eg-ie
  - id: consistent-spelling
  - id: csquotes
  - id: no-space-in-cite
  - id: unique-labels
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.15.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix]
  - id: pretty-format-toml
    args: [--autofix, --trailing-commas]
- repo: https://github.com/pre-commit/mirrors-prettier
  rev: v4.0.0-alpha.8
  hooks:
  - id: prettier
- repo: https://github.com/tcort/markdown-link-check
  rev: v3.13.7
  hooks:
  - id: markdown-link-check
    args: [-q]
exclude: ((fpga/.*)|(.*\.(c|h|mxproject|s))|(.*/grc/.*.block.yml))
