<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LELEC2103 - Leaderboard</title>
  <link rel="stylesheet" href="static/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js" integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js" integrity="sha512-MgkNs0gNdrnOM7k+0L+wgiRc5aLgl74sJQKbIWegVIMvVGPc1+gc1L2oK9Wf/D9pq58eqIJAxOonYPVE5UwUFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- client side template for the leaderboard body -->
  {% raw %}
  <script id="body_source" type="text/x-handlebars-template">
    <header>
      <h1>Electrical Engineering Master Project Contest</h1>
      {{#if this.paused}}
      <h2>Paused</h2>
      {{/if}}
      <h2>Round {{ current_round }}/{{ number_of_rounds }} | Lap {{ current_lap }}/{{ number_of_laps }} | Time before next lap: {{ time_before_next_lap }} s. </h2>
      {{#if this.round_name}}
      <h2>{{ round_name }}</h2>
      {{/if}}
    </header>
    <main>
      <table class="security_table" style="float: left">
        <tbody>
          <tr>
            <th>Security</th>
          </tr>
          {{#each leaderboard}}
          <tr>
            {{# if this.security_round }}
              <th>{{this.security_round.score}} % | #{{this.security_round.traces}} | {{this.security_round.time}}</th>
            {{else}}
              <th class="security_nothing"></th>
            {{/if}}
          </tr>
          {{/each}}
        </tbody>
      </table>
      <div id="leaderboard_wrapper" class="table_wrapper">
        <table style="float: left">
          <tbody>
            <tr>
              <th>Groups</th>
              {{#each laps}}
              <th id="col{{this}}">{{this}}</th>
              {{/each}}
              <th>Correct</th>
            </tr>
            {{#each leaderboard}}
            <tr>
              <th>{{this.name}}</th>
              {{#each this.answers}}
              {{#if this.hide}}
              <td class="hide"></td>
              {{else}}
              <td class="{{this.guess}} {{this.status}}"></td>
              {{/if}}
              {{/each}}
              <th>{{this.score}}</th>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </main>
  </script>
  {% endraw %}
</head>
<body>
  <!-- template goes here -->
</body>
<script src="static/js/leaderboard.js"></script>
</html>
