<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
</head>
<body>
  <header>
    <h1>Admin Configuration</h1>
  </header>
  <main>
    <nav>
      <ul>
        <li><a href={{ url_for('index') }}>Home</a></li>
        <li><a href={{ url_for('leaderboard') }}>Leaderboard</a></li>
        <li><a href={{ url_for('logout') }}>Logout</a></li>
      </ul>
    </nav>
    <h2>Enter Configuration</h2>
    <section id="reset">
      <form id="reset-form" method="POST">
        {{ reset_form.hidden_tag() }}
        <div>
          {{ reset_form.reset_submit() }}
        </div>
      </form>
    </section>
    <section id="group-names">
      <form id="group-names-form" method="POST">
        {{ group_names_form.hidden_tag() }}
        <div>
          {{ group_names_form.group_names.label }}
          <br>
          {{ group_names_form.group_names() }}
        </div>
        <div>
          {{ group_names_form.group_names_submit() }}
        </div>
      </form>
    </section>
    <section id="configuration">
      <form id="configuration-form" method="POST">
        {{ round_config_form.hidden_tag() }}
        <div>
          {{ round_config_form.current_round.label }}
          {{ round_config_form.current_round() }}
        </div>
        <div>
          {{ round_config_form.lap_timings_rle.label }}
          <br>
          {{ round_config_form.lap_timings_rle() }}
        </div>
        <div>
          {{ round_config_form.gt_answers.label }}
          <br>
          {{ round_config_form.gt_answers() }}
        </div>
        <div>
          <table>
            {{ round_config_form.check_class.label }}
            <br>
            {% for subfield in round_config_form.check_class %}
            <tr>
              <td>{{ subfield() }}</td>
              <td>{{ subfield.label }}</td>
            {% endfor %}
            </tr>
          </table>
        </div>
        <div>
          {{ round_config_form.round_config_submit() }}
        </div>
        <div>
          <table>
          {% for error, error_value in round_config_form.errors.items() %}
            <tr><td>{{ error }} : {{ error_value }}</td></tr>
          {% endfor %}
        </table>
        </div>
      </form>
    </section>
    <section id="feedback">
      <h2>Saved Configuration</h2>
      <h3>Group Infos</h3>
      <table>
        <tr>
          <th>Group Name</th>
          <th>Group Key</th>
        </tr>
        {% for i in range(round_config.number_of_groups) %}
        <tr>
          <td>{{ round_config.group_names[i] }}</td>
          <td>{{ round_config.group_keys[i] }}</td>
        </tr>
        {% endfor %}
      </table>
      <br>
      <h3>Round Infos</h3>
      <p>Current round #: {{ round_config.current_round }}</p>
      <br>
      <table>
        <tr>
          <th>Timing</th>
          {% for time in round_config.lap_timings %}
          <td>{{ time }}</td>
          {% endfor %}
        </tr>
        <tr>
          <th>Class</th>
          {% for answer in round_config.gt_answers %}
          <td>{{ answer }}</td>
          {% endfor %}
        </tr>
      </table>
      <br>
      <p>Check class ?: {{ round_config.check_class }}</p>
    </section>
  </main>
</body>
</html>
