<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <header>
    <h1>Admin Login</h1>
  </header>
  <main>
    <section id="login">
      <form id="login-form" method="POST">
        {{ login_form.hidden_tag() }}
        <div>
          {{ login_form.username.label }}
          {{ login_form.username() }}
        </div>
        <div>
          {{ login_form.password.label }}
          {{ login_form.password() }}
        </div>
        <div>
          {{ login_form.login_submit() }}
        </div>
      </form>
    </section>
  </main>
</body>
</html>
