name: Build LaTeX documents
on:
  push:
    paths:
    - .github/workflows/build_tex.yml
    - tex/**

  pull_request:
    paths:
    - .github/workflows/build_tex.yml
    - tex/**

  workflow_dispatch:

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Git repository
      uses: actions/checkout@v4

    - name: Setup Rye
      uses: eifinger/setup-rye@v4
      with:
        enable-cache: true

    - name: Install local packages
      run: |
        rye sync
        source .venv/bin/activate

    - name: Compile LaTeX documents
      uses: xu-cheng/texlive-action@v2
      with:
        run: |
          apk add make
          cd tex/
          make pdf -j$(nproc)

    - name: Move files
      run: |
        cd tex/
        mkdir archive
        find -type f -regex '\./[0-9a-zA-Z_]+/[0-9a-zA-Z_]+.pdf' | xargs -I{} mv {} archive/

    - name: Archive exercise files
      uses: actions/upload-artifact@v4
      with:
        name: tex-documents
        path: tex/archive/*.pdf
